@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --background-color: #060f10;
    --text-color: #e1f4f4;
    --primary-color: #96d1d9;
    --secondary-color: #71295a;
    --accent-color: #c35a5c;
    --default-font: "Jost";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--text-color);
    font-family: var(--default-font);
    background-image: linear-gradient(#060f10, #974647);
}



/* NAVBAR */
.navbar {
    overflow: hidden;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: var(--text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* MOBILE MENU */
.mobile-menu {
    display: none;
}

@media (max-width: 768px) {
    .navbar {
        display: none;
        flex-direction: row;
        width: 100%;
    }

    .mobile-menu {
        display: block;
        text-align: right;
        padding: 1rem;
    }

    .menu-toggle {
        font-size: 2rem;
        background: none;
        border: none;
        color: var(--text-color);
        cursor: pointer;
    }

    .navbar.active {
        display: flex;
    }
}



/* HOMEPAGE GRID */
.container {
    display: grid;
    grid-template-areas: 
    "introduction profile_picture"
    "offer contact";
    grid-template-columns: 3fr 1fr;

    padding: 5rem 10rem;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    line-height: 1.5rem;
}


.profile_picture img {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .container {
        grid-template-areas: 
        "introduction"
        "profile_picture"
        "offer"
        "contact";
        grid-template-columns: 1fr;
        text-align: center;
        padding: 2rem;
    }

    .profile_picture img {
        width: 80%;
    }
}

.introduction h1 {
    margin-bottom: 1.5rem;
    font-size: 3rem;
    color: var(--primary-color);
}

.offer h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: var(--primary-color);
}

.offer p {
    margin-bottom: 0.75rem;
    font-weight: 400;
}

.offer b {
    color: var(--primary-color);
}

.contact h2 {
    margin-top: 2rem;
    color: var(--primary-color);
}

@media (max-width: 600px) {
    .introduction h1 {
        font-size: 2rem;
    }

    .offer h2, .contact h2 {
        font-size: 1.5rem;
    }
}
  


/* CONTACT FORM */
.contact_form {
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--primary-color);

    h2 {
        margin-bottom: 0.5rem;
    }

    p {
        color: var(--text-color);
    }
}

form {
    max-width: 600px;
    margin:  auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
    form {
        width: 90%;
        padding: 15px;
    }

    input, textarea {
        width: 100%;
        font-size: 14px;
    }
}


label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: var(--secondary-color);
}

input, textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input:focus, textarea:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: 0 0 5px var(--primary-color);
}

button[type="submit"] {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: var(--accent-color);
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: var(--secondary-color);
}


/* MISC PAGE*/
.portfolio_intro {
    text-align: center;
    margin-bottom: 2.25rem;
    color: var(--primary-color);

    p {
        margin: 1.5rem;
        color: var(--text-color);
    }
}


/* UI/UX PAGE */

/* CARD DESIGN */
.card button {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 700px;
    margin: 20px auto;
    font-family: var(--default-font);
    border: none;
}

.card img {
    width: 30%;
    height: auto;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.card button h2 {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: var(--secondary-color);
}

.card button p {
    color: var(--background-color);
}

@media (max-width: 600px) {
    .card {
        flex-direction: column;
        text-align: center;
    }

    .card img {
        width: 50%;
        height: auto;
    }
}



/* LINKS */
a:link {
    color: var(--primary-color);
    background-color: transparent;
    text-decoration: none;
}
  
a:visited {
    color: #90b3b3;
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: #b8eff8;
    background-color: transparent;
    text-decoration: none;
}
  
a:active {
    color: #31b0b0;
    background-color: transparent;
    text-decoration: none;
}



/* FOOTER */
footer {
    width: 100%;
    text-align: center;
    padding: 40px 0;
    color: #fff;
    font-size: 16px;
}


.about_intro {
    padding-top: 8rem;
    padding-right: 10rem;
    padding-left: 10rem;

    h1 {
        color: var(--primary-color);
        font-size: 3rem;
    }
}

.flex_container {
    display: flex;
    flex-direction: row;
    padding: 5rem 10rem;

    img {
        width: 50%;
        padding-right: 2rem;
    }
}
  
@media (max-width: 800px) {
    .flex_container {
        flex-direction: column;
    }
}

.flex_container_column {
    flex-direction: column;
}

.about_other {
    padding-right: 10rem;
    padding-left: 10rem;

    h2 {
        font-size: 2rem;
        color: var(--primary-color);
    }
}

.about_other_card {
    display: flex;
    flex-direction: column;
}

.about_other_card_gallery {
    display: flex;
    flex-direction: row;
}


.resume_intro {
    padding-top: 8rem;
    padding-right: 10rem;
    padding-left: 10rem;
    display: flex;
    flex-direction: row;
}

.resume_intro_titles {
    display: flex;
    flex-direction: column;

    h1 {
        color: var(--primary-color);
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
        color: var(--primary-color);
    }
}


.btn-1,
.btn-1 *,
.btn-1 :after,
.btn-1 :before,
.btn-1:after,
.btn-1:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-1 {
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: var(--default-font);
  font-size: 100%;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  margin-left: 40rem;
}
.btn-1:disabled {
  cursor: default;
}
.btn-1:-moz-focusring {
  outline: auto;
}
.btn-1 svg {
  display: block;
}
.btn-1 [hidden] {
  display: none;
}
.btn-1 {
  border-radius: 99rem;
  border-width: 2px;
  padding: 2rem 3rem;
}
.btn-1:hover {
  color: #999;
}


.resume_left {
    padding: 3rem 5rem 3rem 10rem;
}

.resume_right {
    padding: 3rem 10rem 3rem 5rem;

    p {
        color: #90b3b3;

    }

    h4 {
        margin-top: 1rem;
    }
}

.resume_whole {
    display: flex;
    flex-direction: row;
    h2 {
        margin-bottom: 1rem;
        font-size: 2rem;
        color: var(--primary-color);
    }

    h3 {
        margin-top: 1rem;
        font-size: 1.5rem;
        color: var(--primary-color);
    }

    h4 {
        font-size: 1.2rem;
        color: var(--primary-color);

    }
}

.contact_container {
    display: flex;
    flex-direction: row;
    padding-top: 8rem;
    padding-bottom: 5rem;
    padding-right: 10rem;
    padding-left: 10rem;

    h1 {
        color: var(--primary-color);
        font-size: 3rem;
    }
}

